
#loader {
  width: 70px;
  aspect-ratio: 1;
  display: grid;
  margin-top: 300px;
  margin-left: 680px;
}
#loader::before,
#loader::after {
  content: "";
  grid-area: 1/1;
  background: orange;
  clip-path: polygon(0 0,101% 0, 0 100%);
  animation: l13 2s infinite;
}
#loader::after {
  --s:-1,-1;
}
@keyframes l13 {
    0%,
    10%  {transform:scale(var(--s,1)) translate(0,0)        rotate(0deg)}
    33%  {transform:scale(var(--s,1)) translate(20px,-20px) rotate(0deg)}
    66%  {transform:scale(var(--s,1)) translate(20px,-20px) rotate(180deg)}
    90%,
    100% {transform:scale(var(--s,1)) translate(0px,0px)    rotate(180deg)}
}